# Base de datos
# DATABASE_URL="postgresql://..."
# DIRECT_URL="postgresql://..."
DATABASE_URL="mysql://..."

# AUTH_URL=http://localhost:3000

# Autenticación
AUTH_SECRET=   # openssl rand -base64 32
# https://console.developers.google.com/apis/credentials
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# https://github.com/settings/apps
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=


